#courseNameLabel {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #2D3B45;
}

.panel-section-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #2D3B45;
}